Library/
Temp/
SaveSelection/

Assets/ProjectInvader/
Assets/Tango/
Assets/BuildDir/
Assets/BuildMe/
Assets/UnityVS/
Assets/LocalOnly/
*.csproj
*.typroj
*.sln
*.userprefs
*.pyc.meta
.DS_Store
*.DS_Store
*.zip
_PROJECT.meta
Prefabs.meta
Vuforia.meta
Editor.meta
Scripts.meta
UnityVS.Arena.v12.suo